$default-bg-color: #121212;
$color-text: white;
$default-border-color: #363636;

// $conversation-header-bg-color: #9754CB;
$conversation-header-bg-color: #262626;
$conversation-header-color: white;

$color-primary: #262626;
$color-primary-dark: #772ce8;
$button-color: #fc6700;

$message-input-placeholder-color: #808080;
$typing-indicator-text-color: $color-text;
$typing-indicator-dot-bg-color: $color-text;
$message-list-typing-indicator-bg-color: $color-primary;